.btn-neutral {
    background-color: #90afe5;
    height: 24px;
    color: rgb(255, 255, 255);
    align-self: center;
    font-weight: 600;
    font-size: 16;
    transition: 0.2s;
}

.btn-neutral:hover {
    background-color: #627dc0;
    transition: 0.2s;
}

.btn-positive {
    background-color: #64ABFF;
    height: 24px;
    color: rgb(255, 255, 255);
    align-self: center;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.2s;
}

.btn-positive:hover {
    background-color: #0045BB;
    transition: 0.2s;
}

.btn-negative {
    background-color: #dadada;
    height: 24px;
    color: black;
    align-self: center;
    font-weight: 600;
    font-size: 16;
    border-radius: 4;
    transition: 0.2s;
}

.btn-negative:hover {
    background-color: #dbbaba;
    transition: 0.2s;
}

.btn-disabled {
    background-color: #b7bfcd;
    cursor: default;
    pointer-events: none;
}